body {
  background-color: black;
  color: white;
  font-family: "Google Sans", sans-serif;
}
h1 {
  text-align: center;
  background-color: #5a9cb5;
  border-radius: 5px;
  margin: 10px;
  -webkit-text-stroke: 2px #222222;
}
h3 {
  background-color: #fa6868;
  border-left: 5px solid yellow;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
}
h4 {
  color: #00f7ff;
}
audio {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 0px 25px gold;
}
h2 {
  text-align: center;
  background-color: #5a9cb5;
  border-radius: 5px;
}
p {
  background-color: #acbfa4;
  color: black;
}
img {
  box-shadow: 0px 0px 20px #c9f006;
}
video {
  box-shadow: 0px 0px 25px #c9f006;
}
hr {
  width: 50%;
  color: #c9f006;
}
